@font-face{
    font-family: 'myhota';
    src: url(/font/myhota-bold.ttf);
    font-style: normal;
    font-weight: 100;
}

*{
   font-family: "Segoe UI", Arial, sans-serif;
}

#map{
   width: 50%;
   height: 93vh;
   margin-top: 50px;
   position: fixed;
}

.card-header{
   background-color: #212529;
   color: white;
}

.spanOperazione{
   color:rgb(237, 185, 29);
   font-weight: bold;
}

#container{
   float: right;
   width: 50%;
}

#div2{
   margin-top: 56px;
   width: auto;
   height: auto;
   background-color: white;
}

#card1{
    margin-top: 70px;
}

.pulsante{
    background-color: rgb(237, 185, 29);
    border: none;
    padding: 7px 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 3px;
    width: 120px;
    float: right;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 0 0 5px #ccc;
}

.pulsante:hover{
    background-color: rgb(24, 23, 23);
    color: rgb(237, 185, 29);
    transition: ease-in-out 0.2s;
}

.button-container {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
 }
 
 .button-container button {
   margin-top: 10px;
 }

.card{
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0 0 5px #ccc;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    color: rgb(237, 185, 29);
}

#mail:hover{
    color: #0076CE;
}

select{
   width: 70px;
   height: 35px;
   margin-top: 10px;
}

.legenda{
   display: inline-block;
   width: 50px;
}

#gradienteBlu{
   background: rgb(91,152,238);
   background: linear-gradient(90deg, rgba(91,152,238,1) 35%, rgba(68,235,242,1) 100%);
   display: inline;
   padding: 0px 100px 0px 100px;
   margin-left: 20px;
}

#gradienteVerde{
   background: rgb(130,244,57);
   background: linear-gradient(90deg, rgba(130,244,57,1) 35%, rgba(239,238,42,1) 100%);
   display: inline;
   padding: 0px 100px 0px 100px;
   margin-left: 20px;
}

#gradienteRosso{
   background: rgb(243,185,31);
   background: linear-gradient(90deg, rgba(243,185,31,1) 35%, rgba(254,60,9,1) 100%);
   display: inline;
   padding: 0px 100px 0px 100px;
   margin-left: 20px;
}

/*reponsive*/
@media screen and (max-width: 1000px) {
   #map{
     position: relative;
     width: 100%;
     height: 50vh;
   }

   #container{
      float: unset;
      width: 100%;
   }

   .bg-dark text-center text-white{
      width: 100%;
   }

   #div2{
      margin-top: auto;
   }

    #card1{
      margin-top: 20px;
    }

 }