@font-face{
    font-family: 'myhota';
    src: url(/font/myhota-bold.ttf);
    font-style: normal;
    font-weight: 100;
}

*{
   font-family: "Segoe UI", Arial, sans-serif;
}

#map{
   width: 50%;
   height: 93vh;
   margin-top: 50px;
   position: fixed;
}

.card-header{
   background-color: #212529;
   color: white;
}

.spanOperazione{
   color:rgb(237, 185, 29);
   font-weight: bold;
}

#container{
   float: right;
   width: 50%;
}

#div2{
   margin-top: 56px;
   width: auto;
   height: auto;
   background-color: white;
}

#card1{
    margin-top: 70px;
}

.pulsante{
    background-color: rgb(237, 185, 29);
    border: none;
    padding: 7px 2px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 3px;
    width: 120px;
    float: right;
    margin-top: 10px;
}

.pulsante:hover{
    background-color: #7c9fe6;
    transition: ease-in-out 0.2s;
}

.button-container {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
 }
 
 .button-container button {
   margin-top: 10px;
 }

.card{
    width: 85%;
    margin-bottom: 20px;
    margin-left: 20px;
    box-shadow: 0 0 5px #ccc;
}

.link{
    text-decoration: none;
    color: white;
}

.link:hover{
    color: rgb(237, 185, 29);
}

#mail:hover{
    color: #0076CE;
}

select{
   width: 70px;
   height: 35px;
   margin-top: 10px;
}

/*reponsive*/
@media screen and (max-width: 1000px) {
   #map{
     position: relative;
     width: 100%;
     height: 50vh;
   }

   #container{
      float: unset;
      width: 100%;
   }

   .bg-dark text-center text-white{
      width: 100%;
   }

   #div2{
      margin-top: auto;
   }

    #card1{
      margin-top: 20px;
    }

 }